.header {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 24px 64px;
  border-bottom: 1px solid var(--Badges);
  background: var(--Inputs);
  position: relative; 
}

.headerList {
  display: flex;
  gap: 32px; 
  position: absolute;
  left: 50%; 
  bottom: 30%;
  transform: translateX(-50%); 
}

.active {
  color: var(--Button-Hover); 
}


/* @media (max-width: 768px) {
  .header {
    padding: 16px 32px; 
  }

  .headerList {
    gap: 16px; 
  }
} */
