:root {
  --font-family: "Inter", sans-serif;
  --main: #101828;
  --white-primary: #fff;
  --white-secondary: #f7f7f7;
  --badges: #f2f4f7;
  --gray-light: #dadde1;
  --gray-primary: #475467;
  --gray-secondary: #6c717b;
  --red: #e44848;
  --hover: #d84343;
  --star: #ffc531;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a{
  text-decoration: none;
}

ul {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
}

