:root {
  --Font-family: "Inter", sans-serif;
  --Main: #101828;
  --White: #fff;
  --Inputs: #f7f7f7;
  --Badges: #f2f4f7;
  --Gray-light: #dadde1;
  --Text: #475467;
  --Gray: #6c717b;
  --Button: #e44848;
  --Button-Hover: #d84343;
  --star: #ffc531;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: var(--Font-family);
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--Main);
}

ul {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
}

.container {
  max-width: 1440px;
  padding: 48px 64px;
  margin: 0 auto;
}

.redBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--White);
  width: 170px;
  padding: 16px 0;
  gap: 10px;
  border-radius: 200px;
  border: none;
  background-color: var(--Button);
  transition: background-color 250ms ease-out;
}

.redBtn:hover {
  background-color: var(--Button-Hover);
}
