.camperItem {
  display: flex;
  gap: 24px;
  padding: 24px;
  max-width: 888px;
  border-radius: 20px;
  border: 1px solid var(--Gray-light, #dadde1);
  background: var(--White, #fff);
}

.camperImg {
  width: 292px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
}

.camperName {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.camperContainer,
.camperDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  /* width: 100%; */
}

.camperTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.camperInfo{
  display: flex;
  gap: 16px;
}

.camperReviews {
  display: flex;
  gap: 16px;
}

.camperRating {
  display: flex;
  align-items: center;
  fill: var(--star);
  text-decoration: underline;
}

.camperPrice {
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.camperDescriptionText {
  width: 525px;
  /* max-width: 100%; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notFavorite {
  cursor: pointer;
}

.favorite {
  fill: var(--Button); 
  cursor: pointer;
}

